body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .quiz-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
  }
  
  .question-container {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .question-container p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  .option-container {
    margin-top: 10px;
    padding-left: 0; /* Removes default padding */
    list-style-type: none; /* Removes default list bullets */
    display: block; /* Ensures the list is block level */
    margin-bottom: 20px; /* Adds space between the option container and the next element */
  }
  
  .option-container li {
    margin-bottom: 20px; /* Adds space between each option */
    display: flex; /* Aligns the radio button and text horizontally */
    align-items: center; /* Ensures the radio button and text are vertically centered */
  }
  
  input[type="radio"] {
    margin-right: 10px; /* Adds space between the radio button and the option text */
    cursor: pointer; /* Changes the cursor to indicate the radio button is clickable */
  }
  
  
  input[type="radio"] {
    margin-right: 30px; /* Adds space between the radio button and the option text */
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    width: 30%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  